spring:
    application:
        name: auth-service
    datasource:
        url: jdbc:mysql://localhost:3306/ridehail
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
          hibernate:
            format_sql: true
    kafka:
        bootstrap-servers: localhost:9092
        producer:
            key-serializer: org.apache.kafka.common.serialization.StringSerializer
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        properties:
            spring.json.add.type.headers: true

server:
    port: 8081

jwt.secret: aaiahfiu98w84ur90ipi00afnkann9w40irq039inkzns0if
jwt.expiration: 86400000
