spring:
    application:
        name: auth-service
    datasource:
        url: jdbc:mysql://localhost:3306/ridehail
        username: root
        password: root
    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
          hibernate:
            format_sql: true

server:
    port: 8081
