spring:
  application:
    name: location-service
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: location-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
          spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
#          spring.json.value.default.type: com.as.commonevents.events.DriverLocationUpdatedEvent
          spring.json.trusted.packages: "com.as.commonevents.events"



server:
  port: 8082
